@page "/";
@page "/items";
@page "/items/{itemId:int}";
@using ShopIndexWebApp.Client.Shared;
@using ShopIndexWebApp.Shared;
@using static ShopIndexWebApp.Client.Shared.ItemsFilter;
@inject HttpClient Http;
@inject IJSRuntime JS;

<PageTitle>Catalogue</PageTitle>

<h1>Catalogue</h1>

<ItemsFilter @bind-SearchText="SearchText" @bind-SearchText:event="OnSearchInput"
@bind-Sort="FilterSort" @bind-Sort:event="OnSort"
@bind-SellOnly="SellOnly" @bind-SellOnly:event="OnSellOnlyChange" />

@if (_busy)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="row g-0">
        @foreach (var item in GetList())
        {
            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                @{
                    var shop = ShopList.First(q => q.Id == item.ShopId);
                }
                <div style="cursor: pointer;">
                    <ItemCard Shop="shop" Item="item" @onclick="() => OpenItem(item, shop)" />
                </div>
            </div>
        }
    </div>

    <!-- Item Modal -->
    <div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            @if (SelectedItem != null && SelectedItemShop != null)
            {
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="position-absolute top-0 end-0 z-1">
                            <button type="button" class="btn-close p-2" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="card border-0">
                            <div class="row g-0">
                                <div class="col-3">
                                    <div class="position-relative top-50 start-50 translate-middle">
                                        <img src="/assets/items/@(SelectedItem.Item.Replace(':', '/')).png"
                                             class="img-thumbnail" alt="@SelectedItem.Item" title="@SelectedItem.Item">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="card-body">
                                        <h3 class="m-0 p-0 modal-title">@SelectedItem.Name</h3>
                                        <p class="fs-5 text-secondary m-0">At <a class="text-secondary" target="_blank" href="/shop/@SelectedItemShop.UID">@SelectedItemShop.Name</a></p>
                                        <p class="text-muted fst-italic m-0">@SelectedItem.Item</p>
                                        @if (SelectedItemShop.Location != null)
                                        {
                                            var coords = SelectedItemShop.Location.Split(' ');
                                            <div>
                                                <a class="btn btn-primary btn-sm" target="_blank" href="https://dynmap.sc3.io/?worldname=SwitchCraft&mapname=flat&zoom=7&x=@coords[0]&y=@coords[1]&z=@coords[2]">DynMap</a>
                                                <CopyClipboard Value="@(@$"\track {coords[0]} {coords[1]} {coords[2]}")"><button class="btn btn-primary btn-sm">&bsol;track</button></CopyClipboard>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>



                        @if (SelectedItem.Stock == 0 && !SelectedItem.MadeOnDemand)
                        {
                            <p class="text-danger fw-bold">This item is out of stock!</p>
                        }

                        <h4>Prices</h4>
                        <ul>
                            @foreach (var price in SelectedItem.GetPrices())
                            {
                                <li>
                                    <span>@price.Price @price.Currency</span>
                                    @if (price.Price % 1 > 0)
                                    {
                                        var dec = price.Price % 1;
                                        var mul = 1 / dec;
                                        var com = (int)(price.Price * mul);
                                        var items = (int)(com / price.Price);
                                        <span class="d-block">@com @price.Currency get@(com == 1 ? "s" : "") you @items item@(items != 1 ? "s" : "")</span>
                                    }
                                </li>
                            }
                        </ul>

                        <h4>Details</h4>

                        <table class="table table-sm table-hover">
                            <tbody>
                                <tr>
                                    <th scope="row">Stock</th>
                                    <td>@(SelectedItem.Stock) pieces</td>
                                </tr>

                                <tr>
                                    <th scope="row">Dynamic price</th>
                                    <td>@(SelectedItem.DynamicPrices ? "Yes" : "No")</td>
                                </tr>

                                <tr>
                                    <th scope="row">Shop buys this item</th>
                                    <td>@(SelectedItem.ShopBuysItem ? "Yes" : "No")</td>
                                </tr>

                                <tr>
                                    <th scope="row">Made on demand</th>
                                    <td>@(SelectedItem.MadeOnDemand ? "Yes. There might be delay when dispensing the item." : "No")</td>
                                </tr>

                                <tr>
                                    <th scope="row">NBT hash</th>
                                    @if (!string.IsNullOrEmpty(SelectedItem.NBT))
                                    {
                                        <td>@SelectedItem.NBT</td>
                                    }
                                    else
                                    {
                                        <td class="text-muted fst-italic">None</td>
                                    }
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            }
        </div>
    </div>

}

@code {
    private bool _busy;
    [Parameter]
    public int? ItemId { get; set; }

    IEnumerable<ShopIndexWebApp.Shared.ShopItem> ItemList { get; set; } = Enumerable.Empty<ShopIndexWebApp.Shared.ShopItem>();
    IEnumerable<ShopIndexWebApp.Shared.Shop> ShopList { get; set; } = Enumerable.Empty<ShopIndexWebApp.Shared.Shop>();

    private ShopItem? SelectedItem { get; set; }
    private ShopIndexWebApp.Shared.Shop? SelectedItemShop { get; set; }

    private string SearchText { get; set; } = "";
    private FilterSort FilterSort { get; set; } = FilterSort.Alphabetical;
    private bool SellOnly { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        _busy = true;
        ShopList = await Http.GetFromJsonAsync<IEnumerable<ShopIndexWebApp.Shared.Shop>>("API/Shop/Shops");
        ItemList = (await Http.GetFromJsonAsync<IEnumerable<ShopItem>>("API/Shop/Shops/Items"))
            //.Where(q => ShopList.First(j => j.Id == q.ShopId).LastUpdate > DateTime.UtcNow.AddHours(-48))
            .OrderByDescending(q => ShopList.First(j => j.Id == q.ShopId).LastUpdate);

        _busy = false;

        if (ItemId != null)
        {
            SelectedItem = ItemList.FirstOrDefault(q => q.Id == ItemId);
            if (SelectedItem == null)
                return;

            SelectedItemShop = ShopList.FirstOrDefault(q => q.Id == SelectedItem.ShopId);
        }
    }

    private IEnumerable<ShopItem> GetList()
    {
        var newList = ItemList
            .Where(q =>
                q.Name.ToLower().Contains(SearchText.ToLower())
                || q.Item.ToLower().Contains(SearchText.ToLower()))
            .Where(q => SellOnly ? q.ShopBuysItem : true)
            .OrderBy(q => q.Stock == 0);

        switch (FilterSort)
        {
            case FilterSort.LowPrice:
                newList = newList.ThenBy(q => q.GetPrices().First().Price);
                break;
            case FilterSort.HighPrice:
                newList = newList.ThenByDescending(q => q.GetPrices().First().Price);
                break;
            case FilterSort.LowStock:
                newList = newList.ThenBy(q => q.Stock);
                break;
            case FilterSort.HighStock:
                newList = newList.ThenByDescending(q => q.Stock);
                break;
            case FilterSort.Alphabetical:
                newList = newList.ThenBy(q => q.Name);
                break;
        }

        return newList;
    }

    private async Task OpenItem(ShopItem item, ShopIndexWebApp.Shared.Shop shop)
    {
        SelectedItem = item;
        SelectedItemShop = shop;
        try
        {
            await JS.InvokeVoidAsync("toggleItemModal");
        }
        catch (Exception e)
        {
            Console.Error.WriteLine(e.Message);
        }
    }

    private async Task ToggleItemModal()
    {
        try
        {
            await JS.InvokeVoidAsync("toggleItemModal");
        }
        catch (Exception e)
        {
            Console.Error.WriteLine(e.Message);
        }
    }
}
