@using Humanizer;
@using ShopIndexWebApp.Shared;
<div class="card m-1">
    <div class="card-body">
        <h5 class="card-title"><a href="/shop/@Shop.UID" class="text-body text-decoration-none stretched-link">@Shop.Name</a> <span class="text-body-secondary fs-6">by @Shop.Owner</span></h5>
        <h6 class="card-subtitle mb-2">Updated @Shop.LastUpdate.Humanize(utcDate: true)</h6>

        <!-- I don't like this solution -->
        @if (!string.IsNullOrWhiteSpace(Shop.Description))
        {
            <p class="card-text">@Shop.Description</p>
        }
        else
        {
            <p class="card-text user-select-none">&nbsp;</p>
        }

        @if (!string.IsNullOrWhiteSpace(Shop.Location))
        {
            var coords = Shop.Location.Split(' ');
            <a class="btn btn-primary btn-sm z-2 position-relative" target="_blank" href="https://dynmap.sc3.io/?worldname=SwitchCraft&mapname=flat&zoom=7&x=@coords[0]&y=@coords[1]&z=@coords[2]">Locate</a>
            <CopyClipboard Value="@(@$"\track {coords[0]} {coords[1]} {coords[2]}")"><button class="btn btn-primary btn-sm z-2 position-relative">&bsol;track</button></CopyClipboard>
        }
    </div>
</div>

@code {
    [Parameter]
    public Shop Shop { get; set; }
}