@using Humanizer
@model ShopIndex.Models.Shop
<div class="card m-1">
    <div class="card-body">
        <h5 class="card-title"><a href="/Home/Shops/@Model.UID" class="text-body text-decoration-none stretched-link">@Model.Name</a> <span class="text-body-secondary fs-6">by @Model.Owner</span></h5>
        <h6 class="card-subtitle mb-2">Updated @Model.LastUpdate.ToRelative()</h6>

        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <p class="card-text">@Model.Description</p>
        }
        else
        {
            <p class="card-text user-select-none">&nbsp;</p>
        }

        @if (!string.IsNullOrWhiteSpace(Model.Location))
        {
            var coords = Model.Location.Split(' ');
            var link = Shared.MapLink
                .Replace("{X}", coords[0])
                .Replace("{Y}", coords[1])
                .Replace("{Z}", coords[2]);
            <a class="btn btn-primary btn-sm z-2 position-relative" target="_blank" href="@link">Locate</a>
            @* <button tabindex="0" *@
            @*         onclick="navigator.clipboard.writeText('@(@$"\\track {coords[0]} {coords[1]} {coords[2]}")')" *@
            @*         data-bs-toggle="popover" data-bs-content="Copied!" data-bs-trigger="focus" *@
            @*         class="btn btn-primary btn-sm z-2 position-relative"> *@
            @*     &bsol;track *@
            @* </button> *@
        }
    </div>
</div>